#include<iostream>

using namespace std;

int main()
{ 
//ini variabelnya
    int num1, num2, result;

//angka yang akann dimasukkan penguuna kita
    cout << "\nMasukkan angka pertama : ";
    cin >> num1;

    cout << "\nMasukkan angka kedua : ";
    cin >> num2;

//penambahan kedua angkanya nanti
    result = num1 + num2;

//dan ini nanti hasil yang kita dapat
    cout << "\nHasilnya nih : "<< result << endl;

    return 0;
    
}
